/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Gloria+Hallelujah|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Cantarell|Crimson+Text|Gochi+Hand|Josefin+Slab|Short+Stack');
@import url('https://fonts.googleapis.com/css?family=Cantarell|Crimson+Text|Gochi+Hand|Josefin+Slab|Roboto+Mono|Short+Stack|Spinnaker');
body{
    margin: 0px;
    padding: 0px;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 33%}
    50%{background-position:100% 68%}
    100%{background-position:0% 33%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 33%}
    50%{background-position:100% 68%}
    100%{background-position:0% 33%}
}
@keyframes AnimationName { 
    0%{background-position:0% 33%}
    50%{background-position:100% 68%}
    100%{background-position:0% 33%}
}
div, p{
    font-family: Verdana;
}
button{
    font-family: 'Short Stack', cursive;
    font-family: 'Crimson Text', serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Cantarell', sans-serif;
    font-family: 'Gochi Hand', cursive;
}
.font-1 {
    font-family: 'Sacramento', cursive;
    font-family: 'Gloria Hallelujah', cursive;
}
.font-2 {
    font-family: 'Sacramento', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Fredericka the Great', cursive;
}
.font-3 {
    font-family: 'Short Stack', cursive;
    font-family: 'Crimson Text', serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Cantarell', sans-serif;
    font-family: 'Gochi Hand', cursive;
}
.text-dark-blue {
    color: #48809c;
}
.bg-dark-blue{
    background: #48809c;
    color:  #f8f9fa;
}
.bg-light-blue {
    background: #cbdfe9;
    color: #48809c;
}
.border-black{
    border: 2px solid black;
}
.border-rad{
    border-radius: 20px;
}
.text-shadow-1 {
    text-shadow: 1px 1px black;
}
.text-shadow-2 {
    text-shadow: 4px 4px black;
}
.zigzag-1 {
    background: linear-gradient(-135deg, white 50%, transparent 0) 0 15px, linear-gradient(315deg, white 50%, transparent 0) 0 50%;
    background-repeat: repeat-y;
    background-size: 30px 31px;
 }
 .zigzag-2 {
    background: linear-gradient(-135deg, transparent 50%, #48809c 0) 0 15px, linear-gradient(-225deg, #48809c 50%, transparent 0) 0 50%;
    background-position: right;
    background-repeat: repeat-y;
    background-size: 30px 31px;
 }
h1#hello{
    font-size: 200%;
}
h1#world{
    font-size: 500%;
}
div#blue-gradient{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    background: linear-gradient(90deg, white, #cce0e9, rgb(108, 156, 180));
    background-size: 400% 400%;
    
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}
div#white{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg, #f8f9fa 50%, rgba(0,0,0,0) 50%);
}