@import '~myscript/dist/myscript.min.css';

#editor {
  margin: 0;
  width: 100%;
  height: 100%;
  white-space: wrap;
}

#draw_box {
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: wrap;
}